 nav.navbar {
    background-color: #f9f8f8;
 }

 .container {
    background-color: #f9f8f8;
    padding: 40px;
    border-radius: 5px;
 }

 .image-container {
    display:block;
    width: 250px;
    height: 250px;
    transition: transform .25s;
 }

 .image-container:hover {
   transform: scale(1.15);
}

 .image-container img {
   width: 100%;
   height:100%;
   object-fit: cover;
 }